* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 50%;
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  box-sizing: border-box;
  max-width: 66vw;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  background-color: #fff;
  overflow: hidden;
}

@media only screen and (max-width: 980px) {
  .container {
    max-width: 100%;
  }
}

.container_main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  min-height: 66vh;
}

@media only screen and (max-width: 620px) {
  .container_main {
    flex-wrap: wrap-reverse;
  }
}
